/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  display: none;
}

.preloader {
  color: black;
}

.error-msg {
  color: red;
}

.cat-card {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cat-card-content {
  display: flex;
  align-items: center;
}

.cat-card-left {
  flex: 1;
  max-width: 40%;
  margin-right: 20px;
}

.cat-card-img {
  width: 100%;
  height: auto;
}

.cat-card-img-container {
  width: 400px; /* Fixed width */
  height: 400px; /* Fixed height */
  overflow: hidden; /* Hide overflow to keep the aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-card-right {
  flex: 2;
}

.cat-card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.cat-card-desc,
.cat-card-temp {
  margin-bottom: 10px;
}